@font-face {
  font-family: 'Aleo';
  src:  url('../assets//font/Aleo_v1.3/Webfonts/Regular/Aleo-Regular.woff2') format('woff2'),
        url('../assets//font/Aleo_v1.3/Webfonts/Regular/Aleo-Regular.woff') format('woff');
}

html, body {
  height: 100%;
  font-size: 20px;
}

body {
  font-family: 'Aleo', 'Roboto', Helvetica, Arial, sans-serif !important;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: uppercase;
}

.home {
  text-align: center;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
}

.btn-primary {
  color: #fff;
  background-color: #D1A103 !important;
  border-color: #D1A103 !important;
}

.app {
}
