html, body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fd746c, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fd746c, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home {
  text-align: center;
  /* background-image: url('../../assets/img/backdrop/mist.jpg'); */
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
}

.splash {
  position: absolute;
  top: 40%;
  bottom: 40%;
  left: 20%;
  right: 20%;
  font-size: 42px;
  color: ghostwhite;
}
