.join-room-label {
  color: #333 !important;
  text-decoration: none;
}

.settings-header {
  /* font-style: italic; */
}

@media (min-width: 990px) {
  .join-or-create-room {
    margin-top: -50px;
  }
}
